/* General */

html {
    background: #000;
    color: #2e3436;
    font-family: sans-serif;
    font-size: 13px;
}
/* mobile devices and small browser windows */
@media handheld and (max-device-width: 901px), (max-width: 901px) {
    html {
        min-width: 1200px;
    }

    div#hatta-header h1 {
        font-size: 150%;
    }
}
body {
    margin: 0;
    line-height: 1.3;
    background: #fff;
}
a {
    color: #d24f4f;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #974141;
    text-decoration: underline;
}
a.nonexistent,
a.nonexistent:visited {
    color: #a40000;
}
a img {
    border: none;
}
h1, h2 {
    color: #777;
    font-weight: bold;
    letter-spacing: 0.125em;
}
h3, h4 {
    color: #999;
    font-weight: bold;
    letter-spacing: 0.125em;
}
pre {
    font-size: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    line-height: 1.2;
    color: #555753;
}
pre.code, div.codehilite pre {
    background-color: #eee;
    border: solid 1px #ddd;
    padding: 5px;
}
code {
    background: none repeat scroll 0 0 #eee;
    font-size: 85%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1px 3px;
}
tt code {
    background: none;
    font-size: 100%;
    border: none;
    padding: 0;
}
span.submitted {
    color: #999;
    font-size: 10px;
}
span.author {
    color: #d24f4f;
    font-weight: bold;
}
span.ctl {
    float: right;
}
p.copy {
    margin: 0 10px;
}
hr {
    background: transparent;
    border:none;
    height: 0;
    border-bottom: 1px solid #babdb6;
    clear: both;
}
blockquote {
    border-left:.25em solid #ccc;
    padding-left:.5em;
    margin-left:0;
}
abbr.date {
    border:none;
}
dt {
    font-weight: bold;
    float: left;
}
dd {
    font-style: italic;
}

i img { float: right; margin-left: 0.25em }
b img { float: left; margin-right: 0.25em }

table { border-collapse: collapse; }
table td, table th { border: 1px solid #999; padding: 0.125em 0.25em; line-height: 1.22 }


/* Special images */
img.math,
img.smiley {
    vertical-align: middle;
}

/* Conflicts */
div.conflict pre.local {
    background: #fcaf3e;
    margin-bottom: 0;
    color: #000;
}
div.conflict pre.other {
    background: #ffdd66;
    margin-top: 0;
    color: #000;
    border-top: #d80 dashed 1px;
}

/* Diffs */
pre.diff div.orig {
    font-size: 75%;
    color: #babdb6;
}
b.highlight,
pre.diff ins {
    font-weight: bold;
    background: #fcaf3e;
    color: #ce5c00;
    text-decoration: none;
}
pre.diff del {
    background: #eeeeec;
    color: #888a85;
    text-decoration: none;
}
pre.diff div.change {
    border-left: 2px solid #fcaf3e;
}

/* Layout */
div#hatta-content {
    min-height: 235px;
    margin: 0 200px;
    padding: 10px 30px;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
}
/* dwb hack */
@media screen and (max-width: 801px), (max-device-width: 801px) {
    div#hatta-content {
        min-height: 400px;
    }
}
div#hatta-content img {
    max-width: 100%;
    height: auto;
    width: auto;
}
div#sponsor {
    height: 0;
    width: 200px;
    text-align: center;
    float: right;
}
div#sponsor h3, div#side-menu h4 {
    color: #000;
    padding: 5px;
    margin: 0;
}
div#sponsor a {
    display: inline-block;
    margin-bottom: 20px;
}
div#side-menu {
    height: 0;
    width: 200px;
    margin: 0;
    text-align: center;
    float: left;
}
div#side-menu ul {
    text-align: left;
    margin: 0;
}
div#side-menu li {
    font-size: 90%;
    list-style-image: url("/+download/menu-leaf.png");
    list-style-type: square;
}
div#side-menu li:hover {
    list-style-image: url("/+download/menu-active.png");
}
div#hatta-footer {
    background-color: #000;
    border-top: solid 10px #fe0000;
    color: #fff;
    font-size: 11px;
    font-family: sans-serif;
    text-align: center;
    height: 67px;
    padding: 2px 10px;
}
a#hatta-logo {
    float: left;
    outline: 0;
    display: block;
    margin: 0.25em;
}
div#hatta-header {
    background: url('/+download/slogan.png') no-repeat 60px 66px #000;
    border-bottom: solid 10px #fe0000;
    height: 80px;
}
div#hatta-header h1 {
    color: #fff;
    margin: 0 420px;
}
div#hatta-header div#hatta-menu {
    float: right;
    margin-top: 1.25em;
    padding: 0 10px;
}
div#hatta-header div#hatta-menu a {
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
}
div#hatta-header div#hatta-menu a.current {
    color: #999;
}

/* Buttons */
div#hatta-buttons {
    text-align: center;
    vertical-align: middle;
}
input.button,
div#hatta-buttons input {
    font-weight: bold;
    font-size: 100%;
    background: #eee;
    border: solid 1px #babdb6;
    margin: 0.25em;
    color: #888a85;
    vertical-align: middle;
}
#hatta-history input.button {
    font-size: 75%;
}
input.button:hover,
div#hatta-buttons input:hover {
    border: solid 1px #888a85;
    color: #2e3436;
}

/* Editor */
form#hatta-editor textarea {
    width: 100%;
    display: block;
    font-size: 100%;
    border: solid 1px #babdb6;
}
form#hatta-editor label {
    display:block;
    text-align: right;
}
form#hatta-editor .upload {
    margin: 2em auto;
    text-align: center;
}
form#hatta-editor label input {
    font-size: 100%;
    border: solid 1px #babdb6;
    margin: 0.125em 0;
}
form#hatta-editor label#hatta-comment input {
    width: 32em;
}

/* Search */
form#hatta-search input#hatta-search-q {
    color: #fff;
    background-color: #000;
    font-size: 100%;
    border: solid 1px #babdb6;
    margin: 0.125em 0;
    vertical-align: middle;
}
form#hatta-search {
    margin:0;
    text-align: right;
    font-size: 80%;
}
#hatta-search-results div.hatta-snippet {
    font-size: 80%;
    color: #888a85;
}

/* Purple numbers */
a.hatta-purple {
    visibility: hidden;
    vertical-align: middle;
    font-size: 75%;
    font-weight: bold;
    color: #888a85;
}
h1:hover a.hatta-purple,
h2:hover a.hatta-purple,
h3:hover a.hatta-purple,
h4:hover a.hatta-purple,
h5:hover a.hatta-purple,
h6:hover a.hatta-purple {
    visibility: visible;
}

/* Print styles */
@media print {
    body {
        background: white;
        color: black;
        font-size: 100%;
        font-family: serif;
    }
    #hatta-search,
    #hatta-menu,
    #hatta-footer {
        display:none;
    }
    a:link, a:visited {
        color: #520;
        font-weight: bold;
        text-decoration: underline;
    }
    #hatta-content {
        width:auto;
    }
    #hatta-content a:link:after,
    #hatta-content a:visited:after {
        content:" ["attr(href)"] ";
        font-size:90%;
    }
}
